**SLICING OF LISTS**

In [ ]:
#Create a sample list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


#Access elements using slicing

#Syntax: my_list[start:end:step]
subset = my_list[2:6] # Extract elements from index 2 to 5 (end index is exclusive)
print(subset) # Output: [3, 4, 5, 6]

#You can also specify a step size
subset_with_step = my_list[1:8:2] # Extract elements from index 1 to 7 with a step of 2
print(subset_with_step) # Output: [2, 4, 6, 8]


#Omitting start and end indices If you omit the start index, it defaults to 0.

# If you omit the end index, it defaults to the length of the list.
partial_list = my_list[:5] # Extract elements from the beginning up to index 4
print(partial_list) # Output: [1, 2, 3, 4, 5]

In [ ]:
#Negative indices

#You can use negative indices to count from the end of the list.
last_three = my_list[-3:] # Extract the last three elements
print(last_three) # Output: [8, 9, 10]

#Reversing a list using slicing

reversed_list = my_list[::-1] # Extract all elements with a step of -1 (reverse order)
print(reversed_list) # Output: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [ ]:
#Create a sample list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Access elements using slicing
#Syntax: my_list[start:end:step]
subset = my_list[2:6] # Extract elements from index 2 to 5 (end index is exclusive)
print(subset) # Output: [3, 4, 5, 6]


#You can also specify a step size
subset_with_step = my_list[1:8:2] # Extract elements from index 1 to 7 with a step of 2
print(subset_with_step) # Output: [2, 4, 6, 8]



#Omitting start and end indices

#If you omit the start index, it defaults to 0.

#If you omit the end index, it defaults to the length of the list.

partial_list = my_list[:5] # Extract elements from the beginning up to index 4
print(partial_list) # Output: [1, 2, 3, 4, 5]

In [ ]:
#Negative indices

# You can use negative indices to count from the end of the list.
last_three = my_list[-3:] # Extract the last three elements
print(last_three) # Output: [8, 9, 10]

#Reversing a list using slicing

reversed_list = my_list[::-1] # Extract all elements with a step of -1 (reverse order)
print(reversed_list) # Output: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**TUPLES**

In [ ]:
#Creating an Empty Tuple:
empty_tuple = ()
empty_tuple

#Creating a Tuple with Different Data Types:
mixed_tuple = (1, 'hello', 3.14, True)
mixed_tuple

#Creating a Tuple with Integers:
integer_tuple = (1, 2, 3, 4, 5)
integer_tuple


#Creating a Tuple with Strings:
string_tuple = ('apple', 'banana', 'orange')
string_tuple

#Creating a Nested Tuple:
nested_tuple = (1, ('apple', 'orange'), 3.14)
nested_tuple

In [ ]:
#Creating a Single-Element Tuple:
single_element_tuple = (42,)#Note the trailing comma
single_element_tuple

#Using the tuple() Constructor:
From_list = tuple([1, 2, 3]) # Convert a list to a tuple
From_list

#Creating a Tuple with Repetition:
repeated_tuple = (0,) * 5      # Creates a tuple with five repeated elements
repeated_tuple

In [ ]:
#Accessing tuple elements
my_tuple ("apple", 'banana', 'orange', 'grape')

first element = my_tuple[0] #Access the first element
first_element

second element = my_tuple[1] #Access the second element second element
second element

In [ ]:
#Negative Indexing:
last_element = my_tuple[-1] #Access the last element using negative indexing
last_element

In [ ]:
#Accessing Nested Elements:
nested_tuple = (1, ('apple', 'orange'), 3.14)
nested_tuple

In [ ]:
#SLicing:
sliced_tuple = my_tuple[1:3] #Extract elements from index 1 to 2
sliced_tuple

**SETS**

In [ ]:
#Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1)
print(set2)

In [ ]:
#Union of the Set

union_set = set1.union(set2)
print("Union " : union_set)

In [ ]:
#Intersection of two sets

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

In [ ]:
#Difference between two sets

difference_set1 = set1.difference(set2)
difference_set2 = set2.difference(set1)

print("Difference (set1 set2):", difference_set1)
print("Difference (set2 setl):", difference_set2)

In [ ]:
#Symmetric difference between two sets

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

**DICTIONARIES**

In [ ]:
#Creating a mutable dictionary

person = {
    'name': 'Alice',
    'age': 25,
    'city':'New York',
    'job': 'Engineer'

}

# Accessing values
print("Name:", person['name'])
print("Age:", person['age'])

In [ ]:
#Modifying values
person['age'] = 26
print("Updated Age:", person['age'])

In [ ]:
#Adding a new key-value pair
person['gender'] = 'Female'
print("Gender:", person['gender'])

In [ ]:
#Deleting a key-value pair

del person['job']
print("Dictionary after deleting 'job':", person)

In [ ]:
#Checking if a key exists

if 'city' in person:
  print("City:", person['city'])

In [ ]:
#Iterating through keys and values
print("Iterating through keys and values:")
for key, value in person.items():
  print(f"{key}: {value}")

In [ ]:
# Immutable dictionaries


from collections import OrderedDict



#Creating an ordered dictionary
ordered_dict = OrderedDict()

ordered_dict['one'] = 1

ordered_dict['two'] = 2

ordered_dict['three'] = 3


#Accessing values

print("Value for 'two':", ordered_dict['two'])

In [ ]:
#Iterating through keys and values (maintaining order)

print("Iterating through keys and values:")
for key, value in ordered_dict.items():
  print(f"{key}: {value}")